/*login style*/
.login{
  padding: 0;
  margin: 0;
  background-image:url(../src/img/Would-You-Rather_Questions-680x430.jpg);
  background-repeat:no-repeat;
  background-size:100%;
  overflow: hidden;
}
.header {
  width: 100%;
  margin: 10px;
  padding: 10px;
  text-align: center;
  height: auto;
  color: wheat;
}
.loginForm {
    display: block;
    width: 400px;
    height:500px;
    position: relative;
    left: 25pc;
    top: 10pc;
    color: rgb(180, 53, 6);
    font-size: 1.5em;
}
.tableSelec {
  position: relative;
  font-family: Arial;
  width: 300px;
  height: 30px;
}
.submit {
  font-size: 1em;
  color: wheat;
  background-color:rgb(180, 53, 6) ;
  width: 200px;
}
/*nav style*/
.Home {
  margin: 0;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  background-color:rgb(235, 145, 112) ;
  overflow: hidden;
  height: 90px;
  color: #381c02;
  text-decoration: none;
  padding-top: 15px;
  border: solid 5px rgb(180, 53, 6) ;
}
.navbar li {
  float: left;
  color: black;
  list-style-type: none;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;

}
.navbar li:hover {
  background-color: rgb(180, 53, 6);
  color: #381c02;
}
.navbar li.active {
  background-color: #381c02;
  color: rgb(180, 53, 6);
}
.navbarRight {
  float: right;
}
/* new quations*/
.newQu {
  position: relative;
  top : 50px;
  left: 300px;
  width: 500px;
  border: solid 5px rgb(180, 53, 6) ;
  border-radius: 5px;
  padding: 20px;
  background-color:rgb(235, 145, 112) ;
  font-size: 1.5em;
}
/* leaderboard style*/
.leaderBoard {
  position: relative;
  top : 50px;
  left: 350px;
  width: 500px;
  background-color:rgb(235, 145, 112) ;
}
.image {
  width: 80px;
  height: 70px;
}
table, th, td {
  border: 1px solid black;
  text-align: center;
}
span {
  font-size: .9em;
}
button {
  border: solid 3px rgb(180, 53, 6);
  border-radius: 5px;
  width: 10pc;
  background-color:rgb(235, 145, 112) ;
}
/*home*/
.answer {
  padding: 5px;
  margin-left: 20px;
  
}
.answer.active {
  background-color: antiquewhite;
}
.unanswer {
  padding: 5px;
  margin-left: 20px;
}
.unanswer.active {
  background-color: antiquewhite;
}
/*about qu*/
.about {
  position: relative;
  top : 50px;
  width: 300px;
  background-color:rgb(235, 145, 112) ;
}
.option {
 text-decoration: none;
}
.about-answer {
  background-color: chocolate;
}